body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Centers the content wrapper horizontally */

  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;

  background-color: #fefaef;
}

.page-wrapper {
  max-width: 800px; /* Maximum width for the whole page */
  width: 100%; /* Ensures the wrapper takes up the full width up to max-width */
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Ensures children (like .main-grid) stretch to fit the wrapper's width */
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  grid-template-rows: auto auto auto; /* 3 rows, auto-sized */
  gap: 10px; /* Gap between grid items */
  padding: 10px;
}

.content {
  background-color: #f0f0f0; /* Light grey background for content areas */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TITLE */

.title-container {
  grid-row: 1;
  grid-column: 1;
}

.title {
  color: #74b475;
  margin-right: 10px;
  margin-bottom: 0;
  text-align: right;
}
.title .name,
.title .year {
  font-size: 2em;
  font-weight: 800;
  line-height: 0.8;
}
.title .description {
  display: block;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 800;
  line-height: 1.95;
  margin: 0.1em;
}

/* LINEUP FRIDAY */
.first {
  grid-row: 1;
  grid-column: 2;
  justify-content: center;
}

/* LINEUP SATURDAY */
.second {
  grid-row: 3;
  grid-column: 1;
  margin-right: 20px;
  margin-top: 10px;
  text-align: right;
}

/* LINEUP */

.date {
  display: block;
  margin-bottom: 1em;
  color: #74b475;
}

.date .when {
  display: block;
  font-size: 0.6em;
  text-transform: uppercase;
}

.date .who {
  font-weight: 800;
  font-size: 1.1em;
}

/* QA */
.main {
  columns: 2; /* Creates two columns */
  column-gap: 20px; /* Adjust the gap between columns as needed */
  font-size: 0.8em;
  grid-row: 3;
  grid-column: 2;
}

/* .main > p {
  margin-top: 0;
} */

/* GALLERY */

.gallery-container {
  grid-column: 1 / -1; /* Gallery spans the full width of the grid (across both columns) */
  display: flex;
  justify-content: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Creates a 4-column layout */
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 10px; /* Adjusts the gap between images */
  padding: 10px;
  /* max-width: 800px; Limits the maximum width of the gallery */
  margin: 0 auto; /* Centers the gallery horizontally */
}

.image img {
  width: 100%; /* Makes the image fully responsive within its container */
  height: auto; /* Keeps the aspect ratio of the image */
  display: block; /* Removes bottom space/margin */
}

.highlight {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-transform: uppercase;
}

.highlight .word {
  color: #74b475;
  /* font-size: 1.5em; */
  font-size: 1.5vw;
}

.image:nth-of-type(1) {
  grid-row: 4/6;
  grid-column: 3/5;
}

.image:nth-of-type(2) {
  grid-row: 1/3;
  grid-column: 5/7;
}

.image:nth-of-type(3) {
  grid-row: 3/5;
  grid-column: 5/7;
}

.image:nth-of-type(4) {
  grid-row: 5/7;
  grid-column: 5/7;
}

.image:nth-of-type(5) {
  grid-row: 4/6;
  grid-column: 7/9;
}

.image:nth-of-type(6) {
  grid-row: 6/8;
  grid-column: 7/9;
}

.image:nth-of-type(7) {
  grid-row: 3/5;
  grid-column: 9/11;
}

.highlight:nth-of-type(8) {
  grid-row: 3/4;
  grid-column: 3/5;
}

.highlight:nth-of-type(9) {
  grid-row: 7/8;
  grid-column: 5/7;
}

.highlight:nth-of-type(10) {
  grid-row: 3/4;
  grid-column: 7/9;
}

.highlight:nth-of-type(11) {
  grid-row: 5/6;
  grid-column: 9/11;
}
